* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.vh-50 {
  height: 50vh;
}
.vh-25 {
  height: 25vh;
}
.vh-75 {
  height: 75vh;
}

.cardHighlight {
  min-height: 100%;
}

/* LOGIN */
/*.colr-bg{
  background-color: #d6d6d6;
}
*/
/* Home - Carousel */

.carousel-height{
  max-height: 50vh;
}

.carousel-caption-bg {
  background-color: rgb(254, 255, 222) !important;

}

.carousel-indicators { 
  display: none; 
}


.carousel-text{
  text-shadow: 1px 1px 4px #2E8B57;
  width: 100%;
  padding: 4%;
  position: absolute;
  font-weight: bold;
  background-color: rgba(60, 179, 113, 0.4);
}

.img-fit{
  object-fit: cover;
  min-height: 720px;
  width: 100%;
  
}

.product-img-fit {
  object-fit: cover;
  object-position: 100% 10%;
  max-height: 220px;
  width: 100%;

}


/* Navbar */
.border-bot{
  border-bottom: 3px solid rgb(0, 0, 184);
}

/* table header */
.th-bg{
  background-color: rgb(0, 0, 184);;
}

/* Home Banner */

/*.banner-bg{
  background-image: url("./images/banner.jpg");
}*/

/* featured products */
.card-height{
  min-height: 100% !important;
}

.card-border{
  border-color: rgb(218, 218,218) !important;
}

.card-bg {
  background-color: rgb(254, 255, 222, 0.5) !important;
}


/* edit modal */
.editModal-img-fit {
  object-fit: cover;
  object-position: 100% 10%;
  max-height: 180px;
  width: 100%;

}

.bg-register {
  background-image: url("./images/banner.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
  opacity: 0.5;
}

/*
///////////////////////*/

.footer {
  text-align: center;
}

title {
  color: white;
} 

.cart-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}